@media only screen and (max-width: 1300px), (max-height: 900px) {

	#sudokuBoard {
		top: 50%;
		left: 50%;
		margin-top: -275px;
		margin-left: -275px;
	}

	#sudokuBoard td {
		left: 50%;
		margin-left: 100px;
	}

	input {
		padding-left: 15px;
	}

	#time {
		top: 1% !important;
	}

	#keyboard {
		top: 50%;
		left: 50%;
		margin-top: -80px;
		margin-left: 300px;
		height: 160px;
		width: 160px;
	}

	#scoreboard {
		height: 700px !important;
	}

	#keyboard td {
		font-size: 20px;
	}

	#options {
		top: 95%;
		left: 50%;
		height: 100px;
		width: 500px;
		margin-top: -50px;
		margin-left: -250px;
	}

	#options span {
		height: 60px;
		line-height: 60px;
		width: 150px;
		font-size: 30px;
	}

}
